.header {
  background-color: $brown;

  &__top{
    color: $white;
    padding: rem-calc(10);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom{
    padding: rem-calc(5 10);
    background-color: $beige;
  }

  &__nav{
    line-height: 1;

    &__icon{
      height: rem-calc(20);
      width: rem-calc(20);
      margin-right: rem-calc(8);
    }
  }
}
